* { margin: 0; padding: 0; } /* lenullázzuk a böngésző alapértelmezett beállítását */

html, body {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  color: white;
}

#clock {
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 80px;
  margin-top: -40px; /* ezzel korigáljuk középre vissza */
}